*tmp
.tmp*
tmp.*
.NETCore*
*.class
lshw
sysinfo.*
/C/**/*.gcc_run
Dart/.packages
Dart/pubspec.lock
Dart/.dart_tool/
Java/k-nucleotide/fastutil/
Pascal/binary-trees/binarytrees.fpascal_run
Pascal/binary-trees/binarytrees.o
Pascal/fannkuch-redux/fannkuchredux.fpascal_run
Pascal/fannkuch-redux/fannkuchredux.o
Pascal/fasta/fasta.fpascal-4.fpascal_run
Pascal/fasta/fasta.fpascal-4.o
Pascal/mandelbrot/link.res
Pascal/mandelbrot/mandelbrot.fpascal-5.fpascal_run
Pascal/mandelbrot/mandelbrot.fpascal-5.o
Pascal/fannkuch-redux/link.res
Pascal/n-body/nbody.fpascal_run
Pascal/n-body/nbody.o
Pascal/pidigits/gmp.o
Pascal/pidigits/gmp.ppu
Pascal/pidigits/pidigits.fpascal-3.fpascal_run
Pascal/pidigits/pidigits.fpascal-3.o
Pascal/pidigits/pidigits.fpascal-3.pas
Pascal/regex-redux/link.res
Pascal/regex-redux/mtpcpu.o
Pascal/regex-redux/mtpcpu.ppu
Pascal/regex-redux/mtprocs.ppu
Pascal/regex-redux/mtprocs.o
Pascal/regex-redux/regexredux.fpascal-2.fpascal_run
Pascal/regex-redux/regexredux.fpascal-2.o
Pascal/reverse-complement/revcomp.fpascal-2.o
Pascal/reverse-complement/revcomp.fpascal-2.fpascal_run
Pascal/spectral-norm/link.res
Pascal/spectral-norm/mtpcpu.o
Pascal/spectral-norm/mtpcpu.ppu
Pascal/spectral-norm/mtprocs.o
Pascal/spectral-norm/mtprocs.ppu
Pascal/spectral-norm/spectralnorm.fpascal-2.fpascal_run
Pascal/spectral-norm/spectralnorm.fpascal-2.o
node_modules/
TypeScript/node_modules/
.vscode/